.navbar {
  display: flex;
  height: 120px;
  font-family: 'Bungee', cursive;
  color: #ffffff;
  background-color: #4056A1;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

