.container .new-tweet {
  display: flex;
  color: #545149;
  background-color: #f4f1ec;
  font-size: 42px;
  width: 90%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: auto;
}

.container .new-tweet form {
  width: 100%;
}


#humming{
  display: flex;
  padding-bottom: 20px;
}

#charCounter{
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  color: #545149
}

#buttonWITHcount{
  display:flex;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}
/*.container .new-tweet */ #tweet-text {
  display: flex;
  
  background-color: transparent;
  font-size: 42px;
  border: 0px solid;
  /* border-top: 1px solid red; */
  border-bottom: 10px solid #545149;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tweet-button {
  background-color: #4056A1;
  color: #545149;
  font-weight: bold;
  
}


.counter {
  
  display: flex;
  /*color:blue;*/
  background-color: #f4f1ec;
  font-size: 42px;
 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#composeTweet {
  /*padding-top:100px;*/
  margin: 0px;
  font-size: 50px;
}

#error-message1 {
  padding-top: 100px;
  display: none;
}
#error-message2 {
  padding-top: 100px;
  display: none;
}

/*############################################# The css below is for the tweet-holder section.#############################################*/

/* Adds the necessary spacing and alignment for the entire tweet holder section (the section below the submission box).*/
.container .tweet-holder {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Creates a box around the entire tweet.*/
.container .tweet-holder .whole-tweet {
  
  border-style: solid;
  margin-bottom:30px;
}

/* Adds a solid line underneath the tweet message, separating the time and buttons below.*/
.container .tweet-holder .whole-tweet p {
  
  
  border-bottom: 3px solid black;
  margin-bottom: 1px;

}


/* Spaces the name and handle at the top of the box.*/
.container .tweet-holder .whole-tweet .user-information{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin:auto;

}

/* Reduces the margin to the top of the outline for the name*/
.container .tweet-holder .whole-tweet .user-information .actual-name {
  margin-top:0px;
}

/* Reduces the margin to the top of the outline for the handle*/
.container .tweet-holder .whole-tweet .user-information .tweeter-handle {
  margin-top:0px;
}


/* the time and buttons below the tweet message*/
.container .tweet-holder .whole-tweet .utility{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin:auto;

}


/* Changing the shape of the buttons below the tweet message*/
.container .tweet-holder .whole-tweet .utility button {
  border-radius: 30%;
}

/* Hover Effect for the tweet holder section*/
.container .tweet-holder .whole-tweet:hover {
  border-width: thick thick thick thick;
  border-color:#4056A1;
  box-shadow: 5px 10px;
}


.container .tweet-holder .whole-tweet:hover .tweeter-handle  {
  opacity: 1;
}

.container .tweet-holder .whole-tweet .tweeter-handle {
  opacity: 0;
}




/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* RESPONSIVE STUFF */



/* 
The styling when the screen gets smaller.
Need to find a way to take the picture/name to the nav bar.
*/


@media only screen and (max-width: 1024px) {
  /*
  header {
    width: 40%;
    display: inline-block;
  }

  main {
    width: 40%;
    display: inline-block;
  }
*/

header {
  padding-top: 100px;
  padding-left: 200px;
  background-color: #4056A1;
}



}




/*
The styling when the screen is greater than 1024px.
Need to find a way to get the profile pic/username to appear on the left.
*/
@media only screen and (min-width: 1024px) {

header {
  width: 40%;
  display: inline-block;
  margin-top: 100px;
  padding-left:200px;
}

main {
  width: 40%;
  display: inline-block;
  margin-left: 200px;
}

header div h2 {
  /*
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #b8ffed;
  */
  background-image: url("https://www.transparenttextures.com/patterns/white-brushed.png");
  padding-left: 50px;
}

#tweet-link {
  margin-left: 700px;
}

}


